body, html
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.main {
    font-family: fantasy;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#9c9c9c
    <iframe src="https://discord.com/widget?id=919946880585170996&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>;
}

.box
{
    display: flex;
    min-width: 600px;
    max-width: 1100px;
    width: 100%;
    height: 650px;
    background-color: #d6d6d6;
}

.box__column
{
    height: 100%;
    flex-basis: 50%;
}

.box__column--image
{
    background-image: url("./Pga.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box__column--content
{
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
}

.box__paragraph
{
    text-align: center;
}
.box__header
{
    text-align: center;
}
